body {
    margin: 0;
    padding: 0;
    background-color: #2f3640;
    font-family: 'Roboto', sans-serif;
}

html {
    font-family: 'Roboto', sans-serif;
}

body, button, .header {
    font-family: "Century Gothic";
}

#filename {
    color: #aaa;
}

.header {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.toolbar, #status {
    background-color: #14171c;
    padding: 10px;
    color: #D0D0D0;
}

#status {
    height: 6em;
    color: white;
    font-size: 20px;
    text-align: left;
    background-color: #14171c;
}

.toolbar button {
    font-size: 13px;
    color: #F0F0F0;
    background-color: #505050;
    border: 1px solid #101010;
    width: 90px;
    padding: 7px 0;
    border-radius: 5px;
}
.toolbar select {
    font-size: 13px;
    color: #F0F0F0;
    width: 90px;
    padding: 7px 0;
    border-radius: 5px;
    float: right;
}

.toolbar button:hover {
    color: #FFF;
    background-color: #606060;
    border: 1px solid #202020;
    cursor: pointer;
}

#editor {
   flex: 1;
}

.run-button path {
    fill: white;
}