body {
    margin: 0;
    padding: 0;
    background-color: #181E24;
    font-family: 'Roboto';
    outline: none;
}

html {
    font-family: 'Roboto';
}


#filename {
    color: #aaa;
}

.header {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #181E24;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.toolbar, #status {
    background-color: #181E24;;
    padding: 10px;
    color: #D0D0D0;
}
.toolbar {
    height: 3em;
}


#status {
    height: 10em;
    color: white;
    font-size: 15px;
    text-align: left;
    background-color: #14171c;
}

.toolbar button {
    font-size: 13px;
    color: #F0F0F0;
    background-color: #00c7ec;
    border: 0px solid #101010;
    width: 50px;
    height: 50px;
    padding: 7px 7px;
    border-radius: 100%;
    box-shadow: 0 0 20px 0 #00c7ec;
    margin-bottom: 2em;
    outline: none;
    
}
select {
    font-size: 13px;
    color: #F0F0F0;
    width: 200px;
    border: 0px solid #101010;
    height: 30px;
    -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
    background-color: #00c7ec;
    box-shadow: 0 0 20px 0 #00c7ec;
    float: right;
    outline: none;
    
}

.toolbar .start {
    background-color: #3DFD95;
    font-size: 13px;
    color: #F0F0F0;
    border: 0px solid #101010;
    width: 50px;
    height: 50px;
    padding: 7px 7px;
    border-radius: 100%;
    box-shadow: 0 0 20px 0 #3DFD95;
    margin-bottom: 2em;
}

.toolbar button:hover {
    color: #FFF;
    background-color: #19A5C5;
    box-shadow: 0 0 30px 0 #19A5C5;
    border: 0px solid #202020;
    cursor: pointer;
}

.toolbar .start:hover {
    background-color: rgb(52, 214, 128);
    color: #F0F0F0;
    border: 0px solid #101010;
    box-shadow: 0 0 20px 0 rgb(52, 214, 128);
    cursor: pointer;
}

#editor {
   flex: 1;
}

.run-button path {
    fill: white;
}

#programstatus * {
    padding-left: 100px;
}